@import '../_sass/abstracts/';


.total{
	background-color: $color-blue;

}

.hours{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}

.hour{
	margin-left: 5px;
	color: $color-white;
	font-family: $font-family-heveltica;
	font-size: 20px;
}

.buttonMake{
	margin-right: 10px;
}

.button__calendar{
	padding: 0;
	margin-right: 5px;

}

.other{
	text-align: center;
	color: $color-white;
	margin: 20px 30px 20px 30px;
	font-weight: 100;
	font-family: $font-family-heveltica;

}
