@import '../_sass/abstracts/index';

.buttonList{
	padding-left: 60px;
	padding-right: 60px;
}

.confirmation{
	background-color: $color-blue;
	margin-top: 65%;
	padding-bottom: 20vh;

}

.confirmationInfo{
	color: $color-white;
	padding-top: 50px;
	margin-left: 40px;
	margin-right: 40px;
}

.text{
	font-weight: 200;
	font-family: $font-family-heveltica;
	text-align: center;

}

.imgDetail{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}

